/* --- VARIABLES --- */
:root {
    /* Fonts */
    --text-font: "ClashDisplay";
    --display-font: "Stardom";

    /* Colors */
    --lilac: #E096E7;
    --vlilac: #8d477e;
    --jet: #343434;
    --jet-glossy: #343434bd;
    --mint: #F3FFFB;
    --mint-glossy: #f3fffb2a;
}

/* --- FONT FACES --- */
@font-face {
    font-family: Stardom;
    src: url(../assets/fonts/Stardom_Complete/Fonts/OTF/Stardom-Regular.otf);
}

@font-face {
    font-family: ClashDisplay;
    src: url(../assets/fonts/ClashDisplay_Complete/Fonts/Variable/ClashDisplay-Variable.ttf);
}

/* --- BODY --- */
body,
html {
    /* Sizing */
    width: 100%;
    height: 100%;
    
    /* Text */
  font-size: 1em;
  color: var(--mint);
  font-family: var(--text-font);
  font-weight: 100;
}
/* --- BACKGROUND IMAGE --- */

#bg{
    position: fixed;
    left: 0;
    top: 0;

    z-index: -1;
    width: 100%;
    height: 100%;

    transform: scale(1);

    background-color: #000000bd;
    background-image: url("/assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

/* --- FORMATTING --- */

.underline {
    text-decoration: underline 1.5px rgb(247, 23, 228);
}

a#redirect {
    text-decoration: none;
    text-decoration: underline 3px var(--lilac);
    
    color: var(--mint);
    font-weight: 400;
    
}

 /* Hero */



/* Scrollbar */

body::-webkit-scrollbar{
    display: none;
  }

body {
    -ms-overflow-style: none;
  }

html {
    scrollbar-width: none;
  }