/* --- VARIABLES --- */
:root {
    /* Fonts */
    --text-font: "AR-One-Sans";
    --display-font: "ClashDisplay";
    --nav-font: "Mirza"

    /* Colors */
    --lilac: #E096E7;
    --vlilac: #8d477e;
    --jet: #343434;
    --jet-glossy: #343434bd;
    --mint: #F3FFFB;
    --mint-glossy: #f3fffb2a;
}

/* --- FONT FACES --- */
@font-face {
    font-family: Stardom;
    src: url(../assets/fonts/Stardom_Complete/Fonts/OTF/Stardom-Regular.otf);
}

@font-face {
    font-family: AR-One-Sans;
    src: url(../assets/fonts/AR-One-Sans/AROneSans-VariableFont_ARRR\,wght.ttf);
}

@font-face {
    font-family: Mirza;
    src: url(../assets/fonts/Mirza/Mirza-Regular.ttf);
}

@font-face {
    font-family: ClashDisplay;
    src: url(../assets/fonts/ClashDisplay_Complete/Fonts/Variable/ClashDisplay-Variable.ttf);
}

/* --- BODY --- */

* {
    margin: 0;
    padding: 0;
}

body,
html {
    
    /* Text */
  font-size: 32px;
  color: var(--mint);
  font-weight: 100;

  background-color: black;
}

/* --- NAVIGATION BAR --- */
#navbar {
	display: flex;
	padding: 2.5em 0 1.5em 0;
	align-items: center;
	justify-content: space-between;
	text-shadow: 0 0 7px rgba(0,0,0,0.5);
}

#nav_banner {
    font-family: var(--nav-font);
	font-size: 1.5em;
}

#nav_links {
	display: flex;
	column-gap: 1em;
}

#nav_links .nav-link {
	color: inherit;
	text-decoration-color: transparent;
	transition: 0.2s ease;
}

#nav_links .nav-link:hover {
	text-decoration-color: white;
	text-shadow: 0 0 7px rgba(255,255,255,0.7);
}


/* --- HERO SECTION --- */

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

#hero{
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    flex-flow: row;

    gap: 2rem;
}

#hero div {
    padding: 1em 2em;
}

#hero .content {
    flex: 1 1 42rem;
}

#hero #heroImage {
    flex: 1 1 42rem;
}

#heroImage img {
    display: block;
    /* margin: 0 auto; */
    float: right;
    width: 15rem;
    object-fit: contain;
}

/* Content */

.content h1 {
    font-family: var(--display-font);
    font-size: 2rem;
}

.content p {
    font-family: var(--text-font);
    font-size: 1rem;
    margin-bottom: 1rem;
}

.content a {

    padding: 0.5rem 1rem;

    font-size: 0.75rem;

    background-color: var(--jet);
    color: var(--mint);

    text-decoration: none;

    border-radius: 0.5em;
}

/* Bg Image */

#bg{

    background-color: #000000d8;
    background-image: url("../assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

/* --- FORMATTING --- */

.underline {
    text-decoration: underline 1.5px rgb(247, 23, 228);
}

a#redirect {
    text-decoration: none;
    text-decoration: underline 3px var(--lilac);
    
    color: var(--mint);
    font-weight: 400;
    
}

 /* Hero */


 content
/* Scrollbar */

body::-webkit-scrollbar{
    display: none;
  }

body {
    -ms-overflow-style: none;
  }

html {
    scrollbar-width: none;
  }